<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<!-- Servlets -->
	<servlet>
		<servlet-name>membroServiceImpl</servlet-name>
		<servlet-class>br.org.olimpiabarbacena.server.rpc.MembroServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>membroServiceImpl</servlet-name>
		<url-pattern>/rpc/membro</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>midiaServiceImpl</servlet-name>
		<servlet-class>br.org.olimpiabarbacena.server.rpc.MidiaServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>midiaServiceImpl</servlet-name>
		<url-pattern>/rpc/midia</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>Principal.html</welcome-file>
	</welcome-file-list>
</web-app>